{# rates.html.twig #}
{{ encore_entry_script_tags('rates') }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rates</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
<div id="app"><rates-table></rates-table></div>
</body>
</html>
<script>
    window.currencies = '{{ currencies|json_encode|raw }}';
    window.baseCurrency = '{{ constant('App\\Entity\\CurrencyRates::BASE_CURRENCY') }}'
</script>